ul.dirigibles-group {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  @include breakpoint($breakpoint-m) {
    @include pie-clearfix;
  }
}

.dirigible-item {
  @include breakpoint($breakpoint-m) {
    @include column(4);
  }

  &:last-of-type {
    @include breakpoint($breakpoint-m) {
      @include last;
    }
  }
}

.d-capacity {display: block;}
.d-price {display: block;}
.d-select {
  @include button;
  border: none;
  display: block;
}
