.dirigible-picker {
  @include pie-clearfix;
  @include divider-top;
  border-style: dashed;
  li {
    @include breakpoint($breakpoint-m) {
      @include column(4);
    }
    &:last-of-type {
      @include breakpoint($breakpoint-m) {
        @include last;
      }
    }
  }
}

.dirigiblog {
  @include divider-top;
  border-style: dashed;

  .post {
    margin-bottom: 2.0em;

    @include breakpoint($breakpoint-l) {
      @include column(6);
    }

    &:last-of-type {
      @include breakpoint($breakpoint-l) {
        @include last;
      }
    }
  }
}

.telegraph {
  margin-bottom: 1.5em;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.sightings {
  @include breakpoint($breakpoint-s) {
    @include pie-clearfix;
  }
}

.sighting {
  margin-bottom: 1em;
  @include breakpoint($breakpoint-s) {
    @include column(4);
    margin-bottom: 0;
  }
  &:last-of-type {
    @include breakpoint($breakpoint-s) {
      @include last;
    }
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
