%section.rental-progress
  %ol.steps
    %li.step{ nav_active('start-your-adventure.html') }
      %span Rental Details
    %li.step{ nav_active('choose-dirigible.html') }
      %span Choose Dirigible
    %li.step
      %span Renter Details
    %li.step
      %span Payment
