%header.site-header
  .container
    %h1.site-name
      Finneous T. Clouderhoof's Amazing Dirigibles

    %section.mobile-navigation
      %button.menu-trigger
        %span.icon-menu
        %span.trigger-text Menu

    = partial 'partials/primary-navigation'
