%footer.site-footer
  .container
    %span.icon-nadba
      Member of <abbr title="National Association of Dirigibles, Blimps, and Rigid Airships">NADBA</abbr>
    %p.copyright
      Copyright 1910, Finneous T. Clouderhoof. All rights reserved.
    %span.icon-built-by-bearded
      Built By Bearded
